.content {
  margin-top: 50px;
  .input {
    margin-right: 20px;
    width: 300px;

    > div {
      height: 50px;
    }

    input {
      color: #fff !important;
    }
  }

  > form > button {
    height: 50px;
    padding: 0 20px;
    color: #fff;
    border: 2px solid #1976d2;

    &:hover,
    &:focus,
    &:active {
      border: 2px solid #1976d2;
    }
  }
}
